/* --- M O B I L E   F I R S T --- */

.third-section {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    .video-text {
      padding: 10px 20px;
      h1 {
        @include h1-mobile;
        text-align: center;
      }
      p {
        @include p-mobile;
        text-align: center;
        margin: 10px 0;
      }
    }
    .video-player {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      position: relative;
      width: 100%;
      iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 550px;
        max-height: 372px;
        aspect-ratio: 4/3;
        border-radius: 32px;
      }
    }
  }
}

/* --- T A B L E T --- */

@media (min-width: 768px) {
  .third-section {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      height: auto;
      max-height: 436px;
      .video-text {
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 10px 20px;
        h1 {
          @include h1-tablet;
          text-align: left;
          &::before {
            position: absolute;
            content: "";
            background-image: url("pseudoElements/rectangle 26.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 12.36vw;
            height: 12.36vw;
            max-width: 178px;
            max-height: 178px;
            top: 0;
            left: 0;
            z-index: -1;
          }
        }
        p {
          @include p-tablet;
          text-align: left;
          margin: 10px 0;
        }
      }
      .video-player {
        iframe {
        }
        &::after {
          position: absolute;
          content: "";
          background-image: url("pseudoElements/ellipse 86.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 10.42vw;
          height: 10.42vw;
          min-width: 80px;
          max-width: 129px;
          min-height: 80px;
          max-height: 129px;
          bottom: -40px;
          right: -10px;
          z-index: -2;
        }
      }
    }
  }
}

/* --- D E S K  L I T T L E --- */

@media (min-width: 1024px) {
  .third-section {
    .container {
      padding: 0 clamp(6.6vw, 0px, 90px);
      gap: 50px;
      .video-text {
        h1 {
          @include h1-desk;
          margin-bottom: 50px;
          &::before {
            top: 0;
            left: 0;
          }
        }
        p {
          @include p-desk;
        }
      }
      .video-player {
        display: flex;
        justify-content: center;
        align-items: center;
        iframe {
        }
        &::after {
          bottom: -40px;
          right: -10px;
        }
      }
    }
  }
}

/* --- D E S K  A F T E R --- */

@media (min-width: 1220px) {
  @media (min-width: 768px) {
    .third-section {
      .container {
        padding: 0 102.816px;
        .video-text {
          h1 {
            padding: 0 20px;
          }
          p {
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
        .video-player {
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
          &::after {
            bottom: clamp(
              -40px,
              calc(-40px + ((100vw - 1219px) * (20 / 221))),
              -60px
            );
            right: clamp(
              -10px,
              calc(-10px + ((100vw - 1219px) * (50 / 221))),
              -40px
            );
          }
        }
      }
    }
  }
}
